<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/products"></ion-back-button>
    </ion-buttons>
    <ion-title>Agregar Lugar</ion-title>

    <ion-buttons slot="primary">
      <ion-button (click)="addLugar()" [disabled]="!formProdutAdd.valid">
        <ion-icon name="checkmark"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="formProdutAdd">
    <ion-grid>
    
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Sitio</ion-label>
            <ion-input
              type="text"
              autocomplete
              autocorrect
              formControlName="psitio"
            >
            </ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Nombre</ion-label>
            <ion-input
              type="text"
              autocomplete
              autocorrect
              formControlName="pnombre"
            >
            </ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Ubicacion</ion-label>
            <ion-input
              type="text"
              autocomplete
              autocorrect
              formControlName="pubicacion"
            >
            </ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Precio</ion-label>
            <ion-input
              type="text"
              autocomplete
              autocorrect
              formControlName="pprecio"
            >
            </ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Fecha de disponibilidad</ion-label>
            <ion-input
              type="text"
              autocomplete
              autocorrect
              formControlName="pfecha_disponibilidad"
            >
            </ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Codigo</ion-label>
            <ion-input
              type="number"
              autocomplete
              autocorrect
              formControlName="pcodigo"
            >
            </ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Descripcion</ion-label>
            <ion-textarea
              autocomplete
              autocorrect
              formControlName="pdescripcion"
            >
            </ion-textarea>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row
        *ngIf="!formProdutAdd.get('pdescripcion').valid &&
      formProdutAdd.touched"
      >
        <ion-col size-sm="6" offset-sm="3">
          <p>La descripcion debe de ser mayor a 20 caracteres</p>
        </ion-col>
      </ion-row>


    </ion-grid>
  </form>
</ion-content>